<table>
    <tr>
        <th>Name</th>
        <th>Value (degF)</th>
        <th>Low Limit (degF)</th>
        <th>High Limit (degF)</th>
    </tr>
    {{#each tanks}}
    <tr>
        <td>{{name}}</td>
        {{#with waterTemp}}
        <td>{{getSensorValue tag}}</td>
        <td>{{lowLimit}}</td>
        <td>{{highLimit}}</td>
        {{/with}}
    </tr>
    {{/each}}
</table>